html {
    font-size: 62.5%;
  }

h1 {
    color: @main-font-color;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Sarabun', sans-serif;
}

h3 {
    color: @main-font-color;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Sarabun', sans-serif; 
}

p {
    font-family: 'Sarabun', sans-serif;
    font-size: 1rem;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    @media @phone {
        margin: auto;
        width: 100%
    }
}