// Main Content

.container-home {
    .lower-section {
        .flex-box(flex, space-evenly);

        div {
            height: 250px;
            width: 250px;
            background-color: @div-bg;
        }
    }
}